<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Didact Gothic"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="flex-container cont-padded">
      <div class="flex-containersml f-start">
        <div class="smalldiv">
          <a href="/"
            ><img src="kflogo.png" alt="Konfinity logo" height="20px;"
          /></a>
        </div>
        <div class="smalldiv">
          <a href="/">Konfinity Forums</a>
        </div>
      </div>
      <div class="flex-container f-end">
        <div><a>Hello <%=name%>!</a></div>
        <div><a href="/">Go Back</a></div>
        <div><a href="/signout">Signout</a></div>
      </div>
    </div>
    <div class="main-body">
      <div class="flex-container f-med f-vert">
        <div>
          Post a New Forum
        </div>
        <form action="/addforum" method="POST" id="forumform"></form>
        <div>
          <textarea
            rows="1"
            type="text"
            name="heading"
            id="heading"
            form="forumform"
            placeholder="Forum Heading"
            required
          ></textarea>
        </div>
        <div>
          <textarea
            rows="10"
            type="text"
            name="data"
            id="data"
            form="forumform"
            placeholder="Write Something.."
            required
          ></textarea>
        </div>
        <div>
          <input class="black-btn" type="submit" form="forumform" />
        </div>
      </div>
    </div>
  </body>
  <footer><a href="https://annubv.github.io">About the developer</a></footer>
</html>
